.main {
  position: relative;
  padding-top: 96px;
}

.navbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: #f9d8c1;
}

.navbar-item {
  flex: 1;
}

.navbar-button {
  background-color: transparent;
  border: none;
}

.navbar-button-img {
  width: auto;
  height: 40px;
}

.help-mark-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-mark-page-img {
  width: 90%;
  height: auto;
}

.profile-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.profile-page-img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.timeline-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 100px;
  overflow-y: scroll;
}

.timeline-page-record-buttons {
  position: fixed;
  display: flex;
  gap: 16px;
  bottom: 16px;
  right: 16px;
}

.timeline-page-record-buttons-button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f9d8c1;
  border: solid 2px #f9d8c1;
}

.timeline-page-now {
  text-align: center;
}

.timeline-page-line {
  display: flex;
  height: 32px;
}

.timeline-page-line-start {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-page-line-start-ball {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #CCCCCC;
}

.timeline-page-line-item {
  flex: 1;
}

.timeline-page-line-item-left {
  border-right: solid 2px #CCCCCC;
}

.timeline-page-item {
  padding: 8px;
}

.timeline-page-item-content-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}